<!DOCTYPE html>
<html>
	<%- include("partials/head.ejs") %>
	<body>
		<div id="title-box">
			<h1>Page Not Found (404)</h1>
		</div>
		<div id="author-box">
			<p>By NorthnSouth 2022</p>
		</div>
	</body>
</html>
