<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="files/login.css" type="text/css">
		<title>Login | NorthWeb</title>
	</head>
	<body>
		<div id="login-box">
			<h1>The NorthWeb</h1>
			<form action="/sendlogin" method="post">
				<input type="text" name="username" placeholder="Username">
				<input type="password" name="password" placeholder="Password">
				<div id="login-sigin-box">
					<input type="submit" value="Login">
					<button><a href="#">Sign In</a></button>
				</div>
			</form>
		</div>
	</body>
</html>

